<form [formGroup]="userFormGroup" class="max-w-md mx-auto mt-16 bg-white shadow-md rounded-2xl p-8 space-y-8">
  <div class="border-b border-gray-200 pb-6">
    <h2 class="text-xl font-semibold text-gray-900">Connexion</h2>
  </div>

  <!-- Email -->
  <div>
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    <div class="mt-2">
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="you@example.com"
        class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
    </div>
  </div>

  <!-- Password -->
  <div>
    <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
    <div class="mt-2">
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder=""
        class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
    </div>
  </div>

  <!-- Actions -->
  <div class="pt-4 border-t border-gray-100 flex justify-end gap-3">
    <button
      type="submit"
      (click)="onSubmit()"
      class="bg-indigo-600 hover:bg-indigo-500 text-white font-semibold px-4 py-2 rounded-md shadow-sm text-sm"
    >
      Se connecter
    </button>
  </div>
</form>
